.About{
    padding: 2.1rem 0;
}

.About__title{
    color: var(--accentYellow);
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 95%;
    margin: 2.1rem auto 1rem;
}

.About__imgContainer {
    width: 95%;
    margin: 0 auto;
}

.About__img {
    width: 100%;
}

.About__subTitle {
    color: var(--accentBlue);
    font-size: 3.2rem;
    width: 95%;
    margin: 0 auto 2.1rem;

}

.About__bio {
    color: var(--blueOpacity);
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.About__bioContent {
    width: 95%;
    margin: 0 auto;
}